<div class="container">
  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" src="/assets/cv/favicon/android-icon-36x36.png" alt="Logo">
        <small class="d-block mb-3 text-muted">{{ site.title | escape }}</small>
      </div>
      <div class="col-6 col-md">
        <h5>Social networks</h5>
        <ul class="list-unstyled text-small">
          <li><a href="https://github.com/{{ site.github_username }}" class="text-muted"><i class="fab fa-github"></i> Github</a></li>
          <li><a href="https://twitter.com/{{ site.twitter_username }}" class="text-muted"><i class="fab fa-twitter"></i> Twitter</a></li>
          <li><a href="https://www.facebook.com/paul.mesnilgrente" class="text-muted"><i class="fab fa-facebook"></i> Facebook</a></li>
          <li><a href="https://www.youtube.com/channel/UC4c2U8wsGCbWeP-Knn6MtgQ" class="text-muted"><i class="fab fa-youtube"></i> YouTube</a></li>
          <li><a href="https://www.linkedin.com/in/paul-mesnilgrente-aa626371/" class="text-muted"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
          <li><a href="https://secure.viadeo.com/" class="text-muted"><i class="fab fa-viadeo"></i> Viadeo</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Contacts</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          <li><a class="text-muted" href="/about">See my CV</a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>