---
title: About
permalink: /about.html
---
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en">
<!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="CV and presentation of Paul Mesnilgrente. To present my interests, my projects, my studies, my career." />
  <meta name="keywords" content="cv,presentation,experiences,studies,about,contact,hobbies,others" />
  <meta name="author" content="Paul Mesnilgrente" />

  <title>Paul Mesnilgrente - CV</title>

  <!-- Fav and touch icons -->
  <link rel="apple-touch-icon" sizes="57x57" href="/assets/cv/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/assets/cv/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/cv/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/cv/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/cv/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/assets/cv/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/assets/cv/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/cv/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/cv/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/assets/cv/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/cv/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/assets/cv/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/cv/favicon/favicon-16x16.png">
  <link rel="manifest" href="/assets/cv/favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/assets/cv/favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <!-- style sheet -->
  <link rel="stylesheet" href="/assets/cv/css/font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/assets/cv/css/fontello/css/fontello.css" />
  <link rel="stylesheet" href="/assets/cv/css/animate.css" />
  <link rel="stylesheet" href="/assets/cv/css/owl.carousel.css" />
  <link rel="stylesheet" href="/assets/cv/css/owl.theme.css" />
  <link rel="stylesheet" href="/assets/cv/css/responsive.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arizonia" />
  <link rel="stylesheet" href="/assets/cv/css/colors/color-red.css" />
  <link rel="stylesheet" href="/assets/cv/css/bootstrap.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/cv/css/styles.css" />
</head>
<body>
  {% include_relative _includes/01_header.html %}
  {% include_relative _includes/02_home.html %}
  {% include_relative _includes/03_about.html %}
  {% include_relative _includes/04_resume.html %}
  {% include_relative _includes/05_milestones.html %}
  {% include_relative _includes/06_services.html %}
  {% include_relative _includes/07_portfolio.html %}
  {% include_relative _includes/08_hire.html %}
  {% include_relative _includes/09_skills.html %}
  {% include_relative _includes/10_blog.html %}
  {% include_relative _includes/11_quotes.html %}
  {% include_relative _includes/12_contact.html %}
  {% include_relative _includes/13_footer.html %}

  <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <!-- <script src="/assets/cv/js/jquery-1.11.1.min.js"></script> -->
  <script src="/assets/cv/js/appear-min.js"></script>
  <!-- <script src="/assets/cv/js/bootstrap.min.js"></script> -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBX7aT6Bl2y4VK1qKy4W9oI2xq1M9n05rQ"></script>
  <script src="/assets/cv/js/gmap3-min.js"></script>
  <script src="/assets/cv/js/jquery.easing-1.3.pack-min.js"></script>
  <script src="/assets/cv/js/jquery.easypiechart.min.js"></script>
  <script src="/assets/cv/js/jquery.form-min.js"></script>
  <script src="/assets/cv/js/jquery.isotope.min.js"></script>
  <script src="/assets/cv/js/jquery.nav-min.js"></script>
  <script src="/assets/cv/js/jquery.parallax-1.1.3-min.js"></script>
  <script src="/assets/cv/js/jquery.scrollTo-min.js"></script>
  <script src="/assets/cv/js/jquery.sticky-min.js"></script>
  <script src="/assets/cv/js/jquery.ufvalidator-1.0.5-min.js"></script>
  <script src="/assets/cv/js/owl.carousel-min.js"></script>
  <script src="/assets/cv/js/skrollr-min.js"></script>
  <script src="/assets/cv/js/styleswitcher-min.js"></script>
  <script src="/assets/cv/js/tweetscroll/jquery.tweetscroll.js"></script>
  <script src="/assets/cv/js/smooth-scroll-min.js"></script>
  <script src="/assets/cv/js/scripts.js"></script>

  <!-- Scroll Top -->
  <a class="scroll-top" href="#" title="Scroll to top"><i class="fa fa-chevron-up"></i></a>
</body>
</html>