<div class="mask">
  <div class="loader-item fa fa-spin loader-color"></div>
</div>
<nav id="header">
  <ul id="navs" class="navone">
    <li class="active"><a href="#home">Home</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#resume">Resume</a></li>
    <li><a href="#service">Service</a></li>
    <li><a href="#skills">Skill</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
  <a id="open-nav" class="nav-half fa fa-bars"><span class="nav-menu">Menu</span>
    <i></i>
  </a>
</nav>