<section id="about" class="section about-style1">
  <div class="container">
    <div class="section-title" >
      <h2>About me</h2>
      <span class="border"></span>
      <p>
        <span>
          I am a technology enthusiastic, loving to develop and test new ideas by developing software. I enjoy bringing these ideas with teammates and a good management methodology. Organized and positive, I am always motivated for new challenges.
        </span>
      </p>
      <p>
        Currently looking for a job in Wellington, I am also opened to a remote job. I would be glad to share my experience with you. Feel free to <a href="#contact">drop me a line</a> if you are interested in my profile.
      </p>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="about-info">
          <div class="info-title">
            <p>Birthdate</p>
            <p>Phone</p>
            <p>Email</p>
            <p>Website</p>
            <p>Address</p>
          </div>
          <div class="info-details">
            <p>03 Feb. 1993</p>
            <p>+64 (0)272 3366 89</p>
            <p>pro@paul-mesnilgrente.com</p>
            <p>paul-mesnilgrente.com</p>
            <p>379 Adelaide road<br>6021 Wellington<br>New Zealand</p>
          </div>
          <p class="about-signature">Paul Mesnilgrente</p>
          <a target="_blank" href="/assets/cv/paul_mesnilgrente_cv_en.pdf" class="mt-button large btn"><i class="fa fa-download"></i><span>Download Resume</span></a>
        </div>
      </div>
      <div class="col-md-8">
        <div class="about-extra">
          <h4>HOBBIES &amp; INTERESTS</h4>
          <div class="about-extra-icon">
            <ul>
              <li><p><i class="fa fa-flash"></i><br><span>Sport</span></p></li>
              <li><p><i class="fa fa-headphones"></i><br><span>Guitar &amp; Piano</span></p></li>
              <li><p><i class="fa fa-folder-open"></i><br><span>Free culture</span></p></li>
              <li><p><i class="fa fa-linux"></i><br><span>Linux</span></p></li>
              <li><p><i class="fa fa-video-camera"></i><br><span>Cinema</span></p></li>
              <li><p><i class="fa fa-male"></i><br><span>Robotics</span></p></li>
              <li><p><i class="fa fa-code"></i><br><span>Development</span></p></li>
              <li><p><i class="fa fa-key"></i><br><span>Learning</span></p></li>
            </ul>
          </div><!-- end about-extra-icon -->
        </div><!-- end about-extra -->
      </div><!-- end col-md-8 -->
    </div><!-- end row -->
  </div><!-- end container -->
</section>