<section id="about" class="section about-style1">
  <div class="container">
    <div class="section-title" >
      <h2>About me</h2>
      <span class="border"></span>
      <p>
        <span>
          I am a student in &quot;Robotics and Interactives Systems&quot; and I am passionate by what I am doing. My goal is to work the in medical robotic field. This field became my first goal entering my studies.
        </span>
      </p>
      <p>
        I am actually seeking for an internship in the United Kingdom (Irelande, North Ireland, Scotland, England). This internship will end my studies and will take place on the middle of March.
      </p>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="about-info">
          <div class="info-title">
            <p>Birthdate</p>
            <p>Phone</p>
            <p>Email</p>
            <p>Website</p>
            <p>Address</p>
          </div>
          <div class="info-details">
            <p>03.02.1993</p>
            <p>+44 (0)75169 75008</p>
            <p>pro@paul-mesnilgrente.com</p>
            <p>paul-mesnilgrente.com</p>
            <p>61, Bolingbroke road<br>CV3 1AP Coventry<br>United Kingdom</p>
          </div>
          <p class="about-signature">Paul Mesnilgrente</p>
          <a target="_blank" href="/paul_mesnilgrente_cv_en.pdf" class="mt-button large btn"><i class="fa fa-download"></i><span>Download Resume</span></a>
        </div>
      </div>
      <div class="col-md-8">
        <div class="about-extra">
          <h4>HOBBIES &amp; INTERESTS</h4>
          <div class="about-extra-icon">
            <ul>
              <li>
                <p><i class="fa fa-flash"></i><br><span>Sport</span></p>
              </li>
              <li>
                <p><i class="fa fa-headphones"></i><br><span>Guitar &amp; Piano</span></p>
              </li>
              <li>
                <p><i class="fa fa-folder-open"></i><br><span>Free culture</span></p>
              </li>
              <li>
                <p><i class="fa fa-linux"></i><br><span>Linux</span></p>
              </li>
              <li>
                <p><i class="fa fa-video-camera"></i><br><span>Cinema</span></p>
              </li>
              <li>
                <p><i class="fa fa-male"></i><br><span>Robotics</span></p>
              </li>
              <li>
                <p><i class="fa fa-code"></i><br><span>Development</span></p>
              </li>
              <li>
                <p><i class="fa fa-key"></i><br><span>Learning</span></p>
              </li>
            </ul>
          </div><!-- end about-extra-icon -->
        </div><!-- end about-extra -->
      </div><!-- end col-md-8 -->
    </div><!-- end row -->
  </div><!-- end container -->
</section>