<section id="resume" class="section">
  <div class="container">
    <div class="section-title">
      <h2>MY RESUME</h2>
      <span class="border"></span>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="timeline">
          <div id="experience">
            <div class="timeline-category exp-category">
              <a class="large bt-timeline">Experience</a>
              <div class="timeline-category-icon">
                <div class="iconspace"><i class="fa fa-folder-open"></i></div>
              </div>
            </div>
            <div class="timeline-post">
              <div class="timeline-post-content-holder">
                <div class="timeline-post-icon"></div>
                <div class="timeline-post-title">
                  <h4>SOFTWARE ENGINEER - ROBOTICS</h4>
                </div>
                <div class="timeline-post-subtitle">
                  <p>
                    <span>Ortelio Ltd</span> 
                    <span class="timeline-duration">Since April 2017</span>
                  </p>
                </div>
                <div class="timeline-post-content">
                  <p>
                  	Creation of a ROS integrated application for a mobile robot. The application
                  	includes SLAM, path planning, face recognition with OpenCV, gender and age
                  	detection with Caffe2.
                  	Development of a cloud robotics called <a href="https://noos.cloud/"
                  	target="_blank">Noos</a>.
                  	The cloud includes machine learning and mobile robotics algorithms.
                  </p>
                </div>
              </div>
            </div>
            <div class="timeline-post">
              <div class="timeline-post-content-holder">
                <div class="timeline-post-icon"></div>
                <div class="timeline-post-title">
                  <h4>INTERNSHIP in IRIT</h4>
                </div>
                <div class="timeline-post-subtitle">
                  <p>
                    <span><abbr title="Institut de Recherche en Informatique de Toulouse">IRIT</abbr></span> 
                    <span class="timeline-duration">2015 (2 months)</span>
                  </p>
                </div>
                <div class="timeline-post-content">
                  <p>
                    Development of a tracking objet application on interactive table. The system
                    use an infrared camera and infrared LEDs, to avoid luminosity problems.  Goals
                    of the internship was to identify, positionnate and track specific objects.
                  </p>
                </div>
              </div>
            </div>
            <div class="timeline-post">
              <div class="timeline-post-content-holder">
                <div class="timeline-post-icon"></div>
                <div class="timeline-post-title">
                  <h4>INTERNSHIP in Bull</h4>
                </div>
                <div class="timeline-post-subtitle">
                  <p>
                    <span>Bull in collaboration with
                    <abbr title="Groupe Français d'Informatique)">GFI</abbr></span>
                    <span class="timeline-duration">2013 (2 months)</span>
                  </p>
                </div>
                <div class="timeline-post-content">
                  <p>
                    I have developped a repatration of audio files by SFTP within a JavaEE
                    appllication. In Java language, I have performed the choice of libraries to
                    use, the use of them, and the add of precision in the conception document.
                  </p>
                </div>
              </div>
            </div>
            <div class="timeline-post">
              <div class="timeline-post-content-holder">
                <div class="timeline-post-icon"></div>
                <div class="timeline-post-title">
                  <h4>SCHOLAR PROJECT - Use of Stäubli RX60 (4R)</h4>
                </div>
                <div class="timeline-post-subtitle">
                  <p>
                    <span>
                      <abbr title="Université Paul Sabatier, Sciences, Ingénierie & TECHnologie">UPPSITECH</abbr>
                      <abbr title="Systèmes Robotiques et Interactifs">SRI</abbr>
                    </span><span class="timeline-duration">2016</span>
                  </p>
                </div>
                <div class="timeline-post-content">
                  <p>
                    We used the "Stäubli Robotics Suite" to do some Pic'n'place tasks. So we could
                    put in practice the theory seen in class, especially on the different spatial
                    systems.
                  </p>
                </div>
              </div>
            </div>
            <div class="timeline-post">
              <div class="timeline-post-content-holder">
                <div class="timeline-post-icon"></div>
                <div class="timeline-post-title">
                  <h4>SCHOLAR PROJECT - Agenda using dialogue</h4>
                </div>
                <div class="timeline-post-subtitle">
                  <p>
                    <span>
                      <abbr title="Université Paul Sabatier, Sciences, Ingénierie & TECHnologie">UPPSITECH</abbr>
                      <abbr title="Systèmes Robotiques et Interactifs">SRI </abbr>
                    </span>
                    <span class="timeline-duration">2016</span>
                  </p>
                </div>
                <div class="timeline-post-content">
                  <p>
                    This project was to put in practice the knowledge acquired on the man-machine
                    oral dialogue. We used the Optimtalk software, grxml and vxml standard to
                    create dialogues scenarios. The systems manages an agenda in novice and expert mode.
                  </p>
                </div>
              </div>
            </div>
            <div class="timeline-post">
              <div class="timeline-post-content-holder">
                <div class="timeline-post-icon"></div>
                <div class="timeline-post-title">
                  <h4>SCHOLAR PROJECT - Graph coloring</h4>
                </div>
                <div class="timeline-post-subtitle">
                  <p>
                    <span>
                      <abbr title="Université Paul Sabatier, Sciences, Ingénierie & TECHnologie">UPPSITECH</abbr>
                      <abbr title="Systèmes Robotiques et Interactifs">SRI </abbr>
                    </span>
                    <span class="timeline-duration">2016</span>
                  </p>
                </div>
                <div class="timeline-post-content">
                  <p>
                    Through this project, we had to illustrate the different algorithm <abbr
                    title="Constraint Solving Problem">CSP </abbr> to solve the graph coloring
                    problem. In other projects we had put into practive machine learning
                    algorithms and classfication.
                  </p>
                </div>
              </div>
            </div>
            <div class="timeline-post">
              <div class="timeline-post-content-holder">
                <div class="timeline-post-icon"></div>
                <div class="timeline-post-title">
                  <h4>SCHOLAR PROJECT - Mobile robot with Arduino</h4>
                </div>
                <div class="timeline-post-subtitle">
                  <p>
                    <span>
                      <abbr title="Université Paul Sabatier, Sciences, Ingénierie & TECHnologie">UPPSITECH</abbr>
                      <abbr title="Systèmes Robotiques et Interactifs">SRI </abbr>
                    </span>
                    <span class="timeline-duration">2014</span>
                  </p>
                </div>
                <div class="timeline-post-content">
                  <p>
                    The aim of this project was to equip a robot with motors and sensors to map a
                    room. So we have used an arduino card, connected to motors, sensors and a
                    battery. We have added an wheels and an XBee for the communication on the PC to
                    get back the sensors values and to telecommand the robot.
                  </p>
                </div>
              </div>
            </div>
          </div>


          <div id="education">
            <div class="timeline-category edu-cagegory">
              <a class="large bt-timeline">Education</a>
              <div class="timeline-category-icon">
                <div class="iconspace"><i class="fa fa-book"></i></div>
              </div>
            </div>

            <div class="timeline-post">
              <div class="timeline-post-content-holder">
                <div class="timeline-post-icon"></div>
                <div class="timeline-post-title">
                  <h4>Robotics and Interactive Systems in <abbr title="Université Paul Sabatier, Sciences, Ingénierie & TECHnologie">UPPSITECH</abbr></h4>
                </div>
                <div class="timeline-post-subtitle">
                  <p><span>Graduated</span><span class="timeline-duration">2017</span></p>
                </div>
                <div class="timeline-post-content">
                  <p>
                    During 3 years, I have studied robotics, automation, machine learning and
                    human-machine interfaces. During this training, a large spectrum of field have
                    been covered. We saw mobile robotics, robotic arms, embedded systems, machine
                    learning (CSP, neural networks, PCA...), computer visions...
                  </p>
                </div>
              </div>
            </div>
            <div class="timeline-post">
              <div class="timeline-post-content-holder">
                <div class="timeline-post-icon"></div>
                <div class="timeline-post-title">
                  <h4>2nd year of license in computer sciences in <abbr title="Université Paul Sabatier">UPS</abbr></h4>
                </div>
                <div class="timeline-post-subtitle">
                  <p><span>Graduated</span><span class="timeline-duration">2014</span></p>
                </div>
                <div class="timeline-post-content">
                  <p>This year have permitted me to consolidate notions of essentials computer sciences notions like:</p>
                  <ul>
                    <li>logic</li>
                    <li>algorithm proofs</li>
                    <li>probabilities</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="timeline-post">
              <div class="timeline-post-content-holder">
                <div class="timeline-post-icon"></div>
                <div class="timeline-post-title">
                  <h4>IUT Informatique de Gestion à l'<abbr title="Université Paul Sabatier">UPS</abbr></h4>
                </div>
                <div class="timeline-post-subtitle">
                  <p><span>Graduated</span><span class="timeline-duration">2013</span></p>
                </div>
                <div class="timeline-post-content">
                  <p>
                    The IUT has permitted me to acquire a sure ease in different programming
                    language (C, C++, Java, Python, Assembleur). As I learn the basics, we have
                    pushed the learning in technic skills narrowly-specialised as in databases or
                    project management.
                  </p>
                </div>
              </div>
            </div>
            <div class="timeline-post">
              <div class="timeline-post-content-holder">
                <div class="timeline-post-icon"></div>
                <div class="timeline-post-title">
                  <h4>High shcool degree in Sciences with specialty in Maths</h4>
                </div>
                <div class="timeline-post-subtitle">
                  <p><span>Graduated</span><span class="timeline-duration">2011</span></p>
                </div>
                <div class="timeline-post-content">
                  <p>
                    This general high school degree has permitted me to acquire the basics in
                    physics and mathematics. This knowledges are used a lot in the robotic field.
                    Especially the notions of vectorial spaces in mathematics and the notions of
                    acceleration/deceleration, speed etc. in physics.
                  </p>
                </div>
              </div>
            </div>
            <div class="timeline-end-icon"><span> <i class="fa fa-bookmark"></i></span></div>
          </div><!-- end eduation -->
        </div><!-- end timeline -->
      </div><!-- end col-md-12 -->
    </div><!-- end row -->
  </div><!-- end container -->
</section>