<section id="status" class="parallax" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="20">
  <div class="parallax-overlay-2">
    <div class="container">
      <div class="title">
        <h1>Milestones Achieved since 2011</h1>
      </div>
      <div class="row count">
        <div class="col-xs-6 col-sm-6 col-md-3 single">
          <div class="total-numbers" data-perc="1300">
            <div class="iconspace"><i class="cicon fa fa-folder-open"></i></div>
            <span class="sum">2412</span>
            Hour course
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 single">
          <div class="total-numbers" data-perc="1300">
            <div class="iconspace"><i class="cicon fa fa-briefcase"></i></div>
            <span class="sum">550</span>
            Hours of practical work
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 single">
          <div class="total-numbers" data-perc="1300">
            <div class="iconspace"><i class="cicon fa fa-group"></i></div>
            <span class="sum">34</span>
            Team projects
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 single">
          <div class="total-numbers" data-perc="1300">
            <div class="iconspace"><i class="cicon fa fa-trophy"></i></div>
            <span class="sum">2</span>
            Computer science night 
          </div>
        </div>
      </div>
    </div>
  </div>
</section>