<section id="service" class="section">
  <div class="container">
    <div class="section-title">
      <h2>My Services</h2>
      <span class="border"></span>
    </div>
    <div class="row">
      <div class="col-md-6 left-service">
        <div class="service-box">
          <i class="service-icon fa fa-leaf"></i>
          <div class="service-content">
            <h3>Development</h3>
            <p>
              I learned many language during my studies and my free time too. My favorites are Java, Python and C++.
            </p>
          </div>
        </div>
        <div class="service-box">
          <i class="service-icon fa fa-magic"></i>
          <div class="service-content">
            <h3>Communicate</h3>
            <p>
              Without this, the project falls.  To keep it upright, we have to communicate with the team.
            </p>
          </div>
        </div>
        <div class="service-box">
          <i class="service-icon fa fa-bar-chart-o"></i>
          <div class="service-content">
            <h3>Document redaction</h3>
            <p>All partical courses were marked with a report. And during the <abbr title="Projet de Grande Envergure">PGE</abbr>, a specification and conception have been done.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 right-service">
        <div class="service-box">
          <i class="service-icon fa fa-flask"></i>
          <div class="service-content">
            <h3>Conception</h3>
            <p>In the engineer training, we learn to search, evaluate and finally choose the best solution.</p>
          </div>
        </div>
        <div class="service-box">
          <i class="service-icon fa fa-globe"></i>
          <div class="service-content">
            <h3>Machine Learning</h3>
            <p>The computer sciences future is there. SRI has mis l'accent on the classification, CSP and Machine Learning technics.</p>
          </div>
        </div>
        <div class="service-box">
          <i class="service-icon fa fa-anchor"></i>
          <div class="service-content">
            <h3>Conception of robotic systems</h3>
            <p>I learned to conceive robotic architectures thanks to middleware ROS. I used the Turtlebot to map a room with a kinect.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>