<section id="skills" class="section">
  <div class="container">
    <div class="section-title">
      <h2>Skills</h2>
      <span class="border"></span>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3 chart-padding">
        <div class="chart" data-percent="87">
          <p>87<sup>%</sup></p>
        </div>
        <div class="skills-content">
          <h3>REALTIME COMPUTING</h3>
          <p>With Hamid Demmou and Michaël Lauer, I learned the realtime computing. We have done many pratical work with the kernel extension <abbr title="Real Time Application Interface">RTAI</abbr>.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 chart-padding">
        <div class="chart" data-percent="70">
          <p>70<sup>%</sup></p>
        </div>
        <div class="skills-content">
          <h3>AUTOMATION</h3>
          <p>I have done a lot of automation in my studies. I have applied it to robots command too, in particular with the fast-forward and feed-forward.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 chart-padding">
        <div class="chart" data-percent="60">
          <p>60<sup>%</sup></p>
        </div>
        <div class="skills-content">
          <h3>CLASSIFICATION & AI</h3>
          <p>With the researcher of the IRAP Philippe Trouillet, I have discovered diferent facets of classification. We have developped a project of bird song classification.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 chart-padding">
        <div class="chart" data-percent="90">
          <p>90<sup>%</sup></p>
        </div>
        <div class="skills-content">
          <h3>ROBOTIC</h3>
          <p>In all its dimension, mobile, manipulator arm, humnaoid, motion planning. Thanks to Michel Taïx, Patrick Danès and Olivier Stass for this education.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 chart-padding">
        <div class="chart" data-percent="95">
          <p>95<sup>%</sup></p>
        </div>
        <div class="skills-content">
          <h3>PROGRAMMING</h3>
          <p>I learned programming with researchers of the "Research Institute of Computer Sciences of Toulouse" (<abbr title="Institut de  Recherche en Informatique de Toulouse">IRIT</abbr>)</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 chart-padding">
        <div class="chart" data-percent="100">
          <p>100<sup>%</sup></p>
        </div>
        <div class="skills-content">
          <h3>HMI</h3>
          <p>I studied human-machine interface with Philippe Truillet. Researcher in IRIT and teacher in the UPSSITECH.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 chart-padding">
        <div class="chart" data-percent="85">
          <p>85<sup>%</sup></p>
        </div>
        <div class="skills-content">
          <h3>MACHINE LEARNING</h3>
          <p>With Philippe Muller, Mathieu Serrurier et Marie-Christine Lagasquie, I havec developped abilities in the CSP domain, machine learning and operational research.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 chart-padding">
        <div class="chart" data-percent="90">
          <p>90<sup>%</sup></p>
        </div>
        <div class="skills-content">
          <h3>AUTOMATIC SPEECH PROCESSING</h3>
          <p>Thanks to Isabelle Ferrané and Julien Pinquier, I learned some algorithms employed for the speech recognition. I have done a calculator with the GTK library and an agenda with dialogue  technologies.</p>
        </div>
      </div>
    </div>
  </div>
</section>