<section id="quotes" class="parallax" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="20">
  <div class="parallax-overlay-2">
    <div class="container">
      <div class="col-md-12">
        <blockquote>
          <p>
            <ol>
              <li>A robot may not injure a human being or, through inaction, allow a human being to come to harm.</li>
              <li>A robot must obey the orders given it by human beings except where such orders would conflict with the First Law.</li>
              <li>A robot must protect its own existence as long as such protection does not conflict with the First or Second Laws.</li>
            </ol>
          </p>
          <footer>Isaac Asimov in <cite title="Runaround">Runaround</cite></footer>
        </blockquote>
      </div>
    </div>
  </div>
</section>