{% comment %}
{# Footer #}
<footer>
<div class="twitter-feed-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="twt-icon">
          <i class="fa fa-twitter"></i>
        </div>{# end .twt-icon #}

        <div class="twt-feed">
          <div id="tweet-sroll-wrapper" class="clearfix">
            <div class="tweets-list-container"></div>
          </div>{# end #tweet-scroll-wrapper #}
        </div>{# end .twt-feed #}
      </div>{# end .col-md-12 #}
    </div>{# end .row #}
  </div>{# end .container #}
</div>{# end .twitter-feed-section #}

<div class="footer-widgets">
  <div class="container">
    <div class="row">

      <div class="col-md-4 col-xs-12">
        <h4>Recent Post</h4>

        <div class="recent-post-item">
          <div class="recent-post-item-img">
            <a href="#"><img src="http://placehold.it/150x150" alt=""/></a>
          </div>{# end .recent-post-item-img #}
          <div class="recent-post-item-des">
            <h5><a href="#">Standard blog post</a></h5>
            <span>Nullam ornare, sem in malesuada sagittis</span>
          </div>{# end .recent-post-item-des #}
        </div>{# end .recent-post-item #}
        <div class="recent-post-item">
          <div class="recent-post-item-img">
            <a href="#"><img src="http://placehold.it/150x150" alt=""/></a>
          </div>{# end .recent-post-item-img #}
          <div class="recent-post-item-des">
            <h5><a href="#">Standard blog post</a></h5>
            <span>Nullam ornare, sem in malesuada sagittis</span>
          </div>{# end .recent-post-item-des #}
        </div>{# end .recent-post-item #}

      </div>{# end .col-md-4 col-xs-12 #}

      <div class="col-md-4 col-xs-12">
        <h4>Category Cloud</h4>
        <ul class="tag-cloud">
          <li>
            <a href="#">animal</a>
          </li>
          <li>
            <a href="#">audio</a>
          </li>
          <li>
            <a href="#">blondi</a>
          </li>
          <li>
            <a href="#">children</a>
          </li>
          <li>
            <a href="#">gallery format</a>
          </li>
          <li>
            <a href="#">video</a>
          </li>
          <li>
            <a href="#">travel</a>
          </li>
          <li>
            <a href="#">fashion</a>
          </li>
          <li>
            <a href="#">post format</a>
          </li>
          <li>
            <a href="#">quote</a>
          </li>
          <li>
            <a href="#">car</a>
          </li>
          <li>
            <a href="#">listing</a>
          </li>
          <li>
            <a href="#">music</a>
          </li>
          <li>
            <a href="#">grid format</a>
          </li>
          <li>
            <a href="#">life style</a>
          </li>
          <li>
            <a href="#">audio</a>
          </li>
        </ul>{# end .tag-cloud #}

      </div>{# end .col-md-4 col-xs-12 #}

      <div class="col-md-4 col-xs-12">
        <h4>Flickr Photo</h4>
        <ul class="my-flickr flickrgrid">
          <li>
            <a href="#">
              <img src="http://placehold.it/77x74" alt="">
            </a>
          </li>

          <li>
            <a href="#">
              <img src="http://placehold.it/77x74" alt="">
            </a>
          </li>

          <li>
            <a href="#">
              <img src="http://placehold.it/77x74" alt="">
            </a>
          </li>

          <li>
            <a href="#">
              <img src="http://placehold.it/77x74" alt="">
            </a>
          </li>

          <li>
            <a href="#">
              <img src="http://placehold.it/77x74" alt="">
            </a>
          </li>

          <li>
            <a href="#">
              <img src="http://placehold.it/77x74" alt="">
            </a>
          </li>
          <li>
            <a href="#">
              <img src="http://placehold.it/77x74" alt="">
            </a>
          </li>

          <li>
            <a href="#">
              <img src="http://placehold.it/77x74" alt="">
            </a>
          </li>                                                                   
        </ul>{# end .my-flickr flickrgrid #}

      </div>{# end .col-md-4 col-xs-12 #}

    </div>{# end .row #}
  </div>{# end .container #}               
</div>{# end .footer-widgets #}

<div class="footer-bottom">
  <div class="container">
    <div class="row">

      <div class="col-md-6 col-xs-12">
        <ul class="social">
          <li><a class="facebook" href="#"></a></li>
          <li><a class="twitter" href="#"></a></li>
          <li><a class="linkedin" href="#"></a></li>
          <li><a class="google" href="#"></a></li>
          <li><a class="vimeo" href="#"></a></li>
          <li><a class="github" href="#"></a></li>
          <li><a class="behance" href="#"></a></li>
          <li><a class="dribble" href="#"></a></li>
          <li><a class="instagram" href="#"></a></li>
          <li><a class="lastfm" href="#"></a></li>
          <li><a class="rss" href="#"></a></li>
          <li><a class="vimeo" href="#"></a></li>
          <li><a class="forrst" href="#"></a></li>
          <li><a class="pinterest" href="#"></a></li>
          <li><a class="skype" href="#"></a></li>
          <li><a class="picassa" href="#"></a></li>
          <li><a class="youtube" href="#"></a></li>
          <li><a class="flickr" href="#"></a></li>
          <li><a class="tumblr" href="#"></a></li>
          <li><a class="blogger" href="#"></a></li>
          <li><a class="delicious" href="#"></a></li>
          <li><a class="digg" href="#"></a></li>
          <li><a class="friendfeed" href="#"></a></li>
          <li><a class="wordpress" href="#"></a></li>
        </ul>{# end .social #}
      </div>{# end .col-md-6 col-xs-12 #}
    </div>{# end .row #}
  </div>{# end .container #}
</div>{# end .footer-bottom #}
</footer>
{# Footer end #}
{% endcomment %}